// Main Colors
$green: #89cb00;
$gray-dark: #1b2a32;
$success: #61b715;
$decor: #B5D2C4;
$gray-light: #5E5E5E;
$gray-lighter: #E7E7E7;
$gray-lightest: #CBCBCB;
$gray-1: #C5C5C5;
$gray-2: #B3B3B3;
$dark: #000000;
$white-lighter: #F8F8F8;

$font-family-base: 'Poppins', sans-serif;
