:host {
  padding-top: 40px;
  display: block;
  max-width: 364px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 576px) {
  :host {
    max-width: 100%;
  }
}

.my-best {
  &.active {
    svg path {
      fill: red;
    }
  }
}

