<div class="container-fluid container-layout">
    <div class="row row-layout justify-content-between align-items-center">
        <div class="col-4 col-md-4 col-lg-3 order-2 order-md-1 text-md-left text-center">
            <a routerLink="/" class="logo d-inline-block"><img src="assets/logo.svg" alt=""></a>
        </div>
        <div class="col-4 col-md-5 col-lg-4 order-1 order-md-2">
            <app-location-form></app-location-form>
        </div>
        <div class="col-4 col-md-3 col-lg-3 text-right order-3">
            <button class="button-icon button my-best" [ngClass]="{'active':myBest}" (click)="showMyBest()">
            <span>
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 14C13.4 9.73637 16 6.12474 16 3.94546C16 1.76641 14.1495 0 11.8666 0C10.0949 0 8.5879 1.06625 8 2.5615C7.4121 1.06625 5.90513 0 4.13335 0C1.85053 0 0 1.76641 0 3.94546C0 6.12474 2.59997 9.73637 8 14Z"
                          fill="black"/>
                </svg>
            </span>
                <span class="button-icon-text text-uppercase">
               My Best
            </span>
            </button>
        </div>
    </div>
</div>

