<app-header-inner (isMyBest)="onMyBestShow($event)"></app-header-inner>
<section class="section-md">
    <div class="container-fluid container-layout">
        <div class="row row-24 row-layout">
            <div class="col-md-5 col-lg-4">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-7 col-lg-8">
                <app-categories></app-categories>
                <app-search-form  [isMyBest]="isMyBest"></app-search-form>
                <app-vendors [isMyBest]="isMyBest"></app-vendors>
            </div>
        </div>
    </div>
</section>

<section class="bg-decor section-bottom-sm">
    <div class="container-fluid container-layout">
        <div class="media-wrapper">
            <div class="row row-layout row-40 align-items-center justify-content-center">
                <div class="col-sm-10 col-md-8 col-lg-6 section-top-xs">
                    <div class="block-md decor-element-wrapper">
                        <div class="decor-element decor-element-1">
                            <svg width="243" height="92" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M213.599 11.3628c6.903 4.0496 12.527 9.2867 16.442 15.8739.709 1.1925 1.283 2.3824 1.724 3.5685 4.292-2.0848 7.163-5.29 8.342-7.8052.642-1.3705.791-3.4032.578-4.4283-.207-.9976-.827-2.0028-2.151-2.9742-2.756-2.0222-7.548-3.7133-17.52-4.4607-1.701-.1275-5.543.3125-7.415.226zm-7.43-.226c9.09 4.1105 16.246 9.8989 20.814 17.5836.877 1.4772 1.504 2.922 1.901 4.3359-3.401 2.51-7.179 4.8384-10.672 6.7364-.822.4464-1.087 1.4099-.593 2.1521s1.56.9821 2.382.5357c3.048-1.6564 6.324-3.6389 9.415-5.8001.004.3824-.008.7624-.036 1.1401-.218 2.8992-1.39 5.7611-3.464 8.5847-4.177 5.6879-10.305 11.9099-20.681 16.8448-20.713 9.8515-52.233 17.9962-82.911 22.4773-30.6756 4.4809-61.8975 4.4457-82.996 1.6946-10.6106-1.3836-18.4882-3.7516-22.8068-7.0067-2.1132-1.5928-3.2915-3.334-3.624-5.2306-.335-1.9113.149-4.2088 1.8506-6.9688 7.0827-11.4885 20.139-21.059 36.7447-28.8828 16.5841-7.8135 36.5529-13.8116 57.2375-18.2283 35.004-7.4741 71.854-10.3778 97.439-9.9679zm-8.371-3.15498c-25.186.26511-58.285 3.32728-89.866 10.07068-20.8562 4.4532-41.1218 10.5265-58.0446 18.4996-16.9013 7.963-30.6244 17.8945-38.1723 30.1375-1.95615 3.1729-2.73764 6.1841-2.24654 8.9856.49368 2.8163 2.23314 5.1919 4.82884 7.1484 5.0991 3.8434 13.8035 6.3032 24.5347 7.7025 21.5853 2.8146 52.6408 1.4846 83.4919-3.0219 30.85-4.5063 61.725-12.222 82.911-22.2985 10.574-5.029 18.922-10.7325 23.574-17.0663 2.341-3.1872 3.768-6.5652 4.034-10.1067.094-1.2481.042-2.504-.158-3.7661.087-.0685.175-.1372.262-.206 3.974-3.1422 7.457-6.644 9.077-10.0992.82-1.7506 1.207-3.5842.832-5.3897-.38-1.833-1.511-3.4629-3.374-4.8304-3.619-2.6555-10.139-4.42643-20.232-5.18284-3.697-.27704-7.801-.46044-12.244-.54385-6.531-2.86256-13.904-4.89255-21.849-6.19171-20.048-3.27827-43.995-1.955775-68.033 2.53326C93.0711 8.84799 68.8223 16.5299 48.1383 26.0527 27.4879 35.56 10.2378 46.9726.342853 58.9982c-.571912.695-.411886 1.6774.357429 2.1941.769318.5167 1.856598.3721 2.428508-.3229C12.5673 49.3985 27.7052 37.6346 48.1383 28.2273 68.5379 18.8354 93.6915 10.1868 117.45 5.75c23.773-4.43962 47.622-4.02413 67.089-.84087 4.681.76535 9.115 1.78463 13.259 3.07269z"
                                      fill="#CDE2D8"/>
                            </svg>
                        </div>
                        <h2>
            <span class="big ls-md">
              let’s stay <br> in touch!
            </span>
                        </h2>
                        <p class="text-gray-light">
                            Get everyday's top food promotions in your inbox, subscribe to our newsletter!
                        </p>
                    </div>
                    <form action="" class="form-inline form-inline-1">
                        <div class="form-wrap">
                            <input class="form-input" type="text" placeholder="Your email">
                        </div>
                        <div class="form-button">
                            <button type="submit" class="button button-dark button-lg">Subscribe</button>
                        </div>
                    </form>

                </div>
                <div class="col-sm-10 col-md-8 col-lg-6">
                    <div class="block-lg m-l-auto-lg">
                        <img class="d-block" src="assets/bg-contacts.jpg" alt="contacts">
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<app-footer></app-footer>
