:host {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  @media (min-width: 768px)  {
    padding: 30px 0 30px;
  }
}

h6 {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  color: #fff;
  @media (min-width: 1200px) {
    color: inherit;
  }
}

.brand-list {
  display: flex;
  align-items: center;
  max-width: 550px;
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;

  img {filter: brightness(0) invert(1); }

  li {
    &:last-of-type {
      display: none;
    }

    & + li { margin-left: 15px; }
  }

  p {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
  }

  @media (min-width: 544px)  {
    flex-wrap: nowrap;
  }

  @media (min-width: 992px) {
    p { color: inherit }
  }

  @media (min-width: 991px) and(max-width: 1199px) {
    flex-wrap: wrap;
    margin-top: 15px;
    li {
      flex: 1 1 33.333333333%;
    }
    li + li {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  @media (min-width: 992px) {
    margin-left: 0;
    justify-content: flex-start;
    max-width: 410px;
    li:last-of-type {
      display: block;
      white-space: nowrap;
    }
    img {
      opacity: .6;
      filter: none
    }
  }


  @media (min-width: 1200px)  {
    max-width: 450px;
  }

  @media (min-width: 1451px) {
    justify-content: space-between;
    max-width: 550px;
    li {
      & + li { margin-left: 0;}
    }
  }

}

.container-fluid {
  @media (max-width: 991px) {
    width: auto;
    .row {
      margin-right: 0;
      margin-left: 0;
    }
    .row > div {
      flex: 0 0 100%;
      margin-left: 0;
      max-width: 100%;
    }
  }
}
