:host {
  overflow: hidden;
}

h2 {
  max-width: 430px;
  position: relative;
  margin: 0;

  @media (max-width: 1199px) {
    font-size: 60px;
  }

  @media (max-width: 991px) {
    font-size: 43px;
    max-width: 100%;
  }

  @media (max-height: 870px) and (min-width: 991px) {
    font-size: 43px;
  }

  &::before {
    content: '';
    height: 100px;
    width: 256px;
    position: absolute;
    bottom: -10px;
    left: 0;
    background-image: url('/assets/heading-bg.svg');
    background-repeat: no-repeat;
    z-index: -1;
  }
}

p {
  color: #5E5E5E;
  max-width: 360px;
  margin: 10px 0;
}

.padding-reset {
  padding-left: 0;
  padding-right: 0;

  &:not(.vertical-center) {
    @media (max-width: 991px) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }
}

.vertical-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  margin-top: -100px;

  > * {
    flex: 1 1 100%;
  }

  @media (max-width: 991px) {
    margin-top: 0;
    margin-left: 0;
    display: block;
    padding: 60px 15px 15px;
    flex-wrap: wrap;
    z-index: 1;
    background-color: #fff;
    position: absolute;
    top: 45%;
    left: 15px;
    right: 15px;
    width: auto;
    transform: translateY(-50%);
  }

  @media (max-width: 991px) {
    padding: 15px;
  }
}

.container-fluid {
  @media (max-width: 991px) {
    width: auto;
    .row {
      margin-right: 0;
      margin-left: 0;
    }
    .row > div {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
