<app-header (handleCountryChanged)="countryChanges($event)"></app-header>
<div class="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4  offset-md-2  vertical-center padding-reset">
                <h2>Free food just tastes better!</h2>
                <p>Discover offers from different restaurants and compares such deals easily</p>
                <app-search-form-dubai
                        *ngIf="currentCountry.country === 'Dubai'; else malaysia"
                        [locations]="locations"
                ></app-search-form-dubai>
                <ng-template #malaysia>
                    <app-search-form-malaysia
                            [locations]="locations"
                    ></app-search-form-malaysia>
                </ng-template>
            </div>
            <div class="col-md-6  padding-reset">
                <app-slider></app-slider>
                <app-best-vendors [currentLocation]="currentCountry"></app-best-vendors>
            </div>
        </div>
    </div>
</div>
<app-footer-dubai *ngIf="currentCountry.country === 'Dubai';else footerMalaysia"></app-footer-dubai>
<ng-template #footerMalaysia>
    <app-footer-malaysia></app-footer-malaysia>
</ng-template>
