.menu-item {
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 10px;

  .card-info-favourite {
    position: absolute;
    transform: translateY(-50%);
    left: 40px;
    top: 0;
    z-index: 1;
    width: 46px;
    height: 46px;
    line-height: 46px;
    border-radius: 50%;
    background-color: #B5D2C4;
    cursor: pointer;
    transition: 0.33s all ease-in-out;

    & > svg {
      vertical-align: middle;
      transition: inherit;
    }

    &.active {
      svg {
        fill: #fff;
      }
    }
  }

  .content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price,
    h6 {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-transform: capitalize;
    }

  }

  .img-wrap {
    position: relative;
    width: 261px;
    height: 109px;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.center {
  text-align: center;
}

::ng-deep {
  :host {
    display: inline-block;
  }

  .ngx-pagination {
    text-align: center;
    margin-top: 10px;
    display: inline-block;

    .current {
      background-color: #B5D2C4 !important;
    }
  }
}

