<div class="row" *ngIf="currentMenuItems?.length">
    <div  class="col-md-6" *ngFor="let item of currentMenuItems  | paginate : { itemsPerPage: 6, currentPage: p, totalItems: currentMenuItems.length, id: 'menus' }">
        <div class="menu-item">
            <button class="card-info-favourite">
                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.53296 3.47188L10 4.69369L10.467 3.47188C11.1291 1.7399 12.8292 0.5 14.8333 0.5C17.4194 0.5 19.5 2.55585 19.5 5.07274C19.5 6.30619 18.7706 8.05754 17.132 10.2304C15.5588 12.3167 13.1945 14.7298 10 17.3544C6.80554 14.7298 4.44124 12.3167 2.86795 10.2304C1.22944 8.05754 0.5 6.30619 0.5 5.07274C0.5 2.55585 2.58061 0.5 5.16669 0.5C7.17083 0.5 8.8709 1.7399 9.53296 3.47188Z"
                          stroke="white"/>
                </svg>
            </button>
            <div class="img-wrap">
                <img [src]="item.image ? item.image : 'assets/noimg.png'" alt="">
            </div>
            <div class="content">
                <h6>{{item.name}}</h6>
                <span class="price">${{item.price}}</span>
            </div>
        </div>
    </div>
    <div class="center">
    <pagination-controls
            id="menus"
            *ngIf="currentMenuItems.length"
            (pageChange)="getPage($event)"
            responsive="true"
            autoHide="true"
    ></pagination-controls>
    </div>
</div>

