<owl-carousel-o class="slider" [options]="customOptions">
    <ng-template carouselSlide>
        <img src="assets/slide01.jpg" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img src="assets/slide02.jpg" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img src="assets/slide03.jpg" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img src="assets/slide04.jpg" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img src="assets/slide05.jpg" alt="">
    </ng-template>
</owl-carousel-o>
