:host {
  height: 256px;
  display: block;
}

.vendor-card {
  height: 256px;
  max-width: 270px;
  width: 100%;
  display: inline-block;
  padding: 20px;
  position: relative;
  background-color: #fff;

  .food-details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 100px;
    }
  }

  .rating {
    display: flex;
    align-items: center;
    padding-top: 3px;
    margin-left: 5px;

    .star {
      line-height: 1;
      margin-right: 5px;
    }
  }

  .location-marker {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;

    svg {
      flex-grow: 1;
      flex-shrink: 0;
    }

    h4 {
      margin: 0 0 0 10px;
      align-items: center;
      font-size: 10px;
      font-weight: 300;
      line-height: 15px;
      opacity: 0.5;
      text-transform: uppercase;
    }
  }

  h5 {
    font-size: 23px;
    line-height: 1.2em;
    font-weight: 600;
    margin: 0;
  }

  h6 {
    font-size: 10px;
    line-height: 14px;
    font-weight: 300;
    margin: 10px 0 0 0;
    opacity: 0.5;
  }

  .rate {
    font-size: 12px;
    font-weight: 500;
  }

  .top-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .info-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    .icon {
      margin-right: 5px;
    }

    & > div + div:not(.car) {
      padding-left: 10px;
      position: relative;

      &::before {
        content: '';
        height: 2px;
        width: 2px;
        background-color: #B3B3B3;
        border-radius: 50%;
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .cash .label {
      position: relative;
      padding-left: 5px;

      &::before {
        content: '';
        height: 2px;
        width: 2px;
        background-color: #B3B3B3;
        border-radius: 50%;
        position: absolute;
        left: 2.5px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    * {
      font-size: 10px;
      line-height: 15px;
      font-weight: 400;
      color: #B3B3B3;
    }
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    li {
      font-size: 10px;
      line-height: 15px;
      background-color: #B5D2C4;
      color: #fff;
      padding: 2px 10px;
      margin: 10px 10px 0 0;
    }
  }
}
