<div class="vendor-card">
    <div class="top-wrap">
        <h5>{{getSubTitle(vendor.name)}}</h5>
        <div class="rating" *ngIf="!isNan(vendor.rating)">
                <span class="star">
                  <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M9 0L11.6343 5.37423L17.5595 6.21885L13.2623 10.3849L14.2901 16.2812L9 13.4817L3.70993 16.2812L4.73766 10.3849L0.440492 6.21885L6.36573 5.37423L9 0Z"
                            fill="#FAAA14"></path>
                  </svg>
                </span>
            <span class="rate">{{vendor.rating}}%</span>
        </div>
    </div>
    <h6 *ngIf="details.restaurantTypes">{{details.restaurantTypes[0]}}</h6>
    <div class="vendors-list">
        <div class="info-list">
            <div class="cash">
      <span class="icon">
        <svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
                  d="M4.87375 3.12684C4.97123 3.12684 5.0486 3.16267 5.10681 3.23444C5.16492 3.3062 5.19351 3.41434 5.19351 3.55907H5.70089C5.70089 3.3239 5.64194 3.13256 5.52467 2.98492C5.40825 2.83814 5.24628 2.74878 5.03876 2.71802V2.3255H4.75795V2.71252C4.54855 2.7341 4.38051 2.81019 4.25392 2.93959C4.12755 3.06996 4.06431 3.2381 4.06431 3.441C4.06431 3.55929 4.08274 3.66106 4.11876 3.74675C4.15592 3.83233 4.20733 3.90637 4.27371 3.97015C4.33999 4.0335 4.41914 4.0893 4.51138 4.1384C4.60404 4.18729 4.71429 4.23629 4.84119 4.28583C4.96882 4.33515 5.05897 4.38922 5.11236 4.44761C5.16534 4.50621 5.19215 4.58478 5.19215 4.68374C5.19215 4.77904 5.16231 4.85459 5.10273 4.91081C5.04326 4.96693 4.96086 4.99402 4.85878 4.99402C4.73429 4.99413 4.63964 4.95582 4.57295 4.8793C4.50667 4.80289 4.47474 4.6927 4.47474 4.54873L3.96684 4.54884C3.96684 4.79609 4.03301 4.99402 4.16514 5.14415C4.29685 5.29308 4.48144 5.38028 4.72141 5.40726L4.72162 5.76546L5.00033 5.76535V5.40543C5.2179 5.38255 5.38846 5.307 5.51295 5.17836C5.6367 5.05058 5.69827 4.88426 5.69827 4.6791C5.69827 4.56967 5.68309 4.47448 5.64895 4.39073C5.61618 4.30828 5.56875 4.23521 5.50719 4.17013C5.44458 4.1056 5.3693 4.04775 5.27831 3.99702C5.1888 3.94533 5.07341 3.89137 4.93354 3.83287C4.79366 3.77438 4.69817 3.71815 4.64687 3.66289C4.59577 3.60742 4.57012 3.53468 4.57012 3.4423C4.57012 3.34344 4.5965 3.26584 4.64927 3.21069C4.70361 3.15479 4.77785 3.12684 4.87375 3.12684ZM8.2494 1.09118L1.41968 1.09129C1.00622 1.09129 0.669187 1.43837 0.669187 1.86499V6.2263C0.669187 6.65303 1.00622 7 1.41989 7H8.2493C8.66339 7 9 6.65292 9 6.2263V1.86499C8.9999 1.43826 8.66318 1.09118 8.2494 1.09118ZM4.83428 6.31069C3.623 6.31069 2.63714 5.2947 2.63714 4.04581C2.63714 2.79788 3.623 1.78167 4.83428 1.78167C6.04587 1.78167 7.03173 2.79788 7.03173 4.04581C7.03194 5.2947 6.04598 6.31069 4.83428 6.31069ZM8.19014 0.624517C8.11025 0.205773 7.71574 -0.0682449 7.30961 0.0148564L3.57599 0.768056L8.21757 0.767948L8.19014 0.624517ZM0.0139716 2.27467L0.354981 4.06825V1.86499C0.354981 1.70591 0.388381 1.55514 0.44806 1.41862C0.134168 1.5614 -0.0543978 1.91334 0.0139716 2.27467Z"
                  fill="#B3B3B3"></path>
        </svg>
      </span>
                <span class="value" *ngIf="details.minOrderValue">${{details.minOrderValue}}</span>
                <span class="label" *ngIf="details.paymentType.length > 0">{{details.paymentType.join(', ')}}</span>
            </div>
            <div class="hours" *ngIf="details.timeScheduler">
      <span class="icon">
       <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="4" cy="4" r="4" fill="#B3B3B3"></circle>
          <path
                  d="M4.28243 1.30769C4.28243 1.13776 4.14466 1 3.97473 1C3.80479 1 3.66704 1.13776 3.66704 1.30769V3.74359L2.09012 5.32371C1.96996 5.44387 1.96996 5.63625 2.09012 5.75641C2.21028 5.87657 2.40265 5.87656 2.52281 5.75641L4.19268 4.08974C4.24836 4.03406 4.28243 3.95676 4.28243 3.87179V1.30769Z"
                  fill="white"></path>
          </svg>
      </span>
                <span class="value">{{details.timeScheduler}}</span>
            </div>
        </div>

        <div class="location-marker">
            <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M4.5 12.3125C6 12.3125 9 8.1875 9 5.1875C9 2.70222 6.98528 0.6875 4.5 0.6875C2.01472 0.6875 0 2.70222 0 5.1875C0 8.1875 2.625 12.3125 4.5 12.3125ZM4.49993 6.68792C5.32835 6.68792 5.99993 6.01635 5.99993 5.18792C5.99993 4.3595 5.32835 3.68792 4.49993 3.68792C3.6715 3.68792 2.99993 4.3595 2.99993 5.18792C2.99993 6.01635 3.6715 6.68792 4.49993 6.68792Z"
                      fill="black"></path>
            </svg>
            <h4>
                {{details.address}}
            </h4>
        </div>

        <ul class="categories">
            <li *ngFor="let category of vendor.allRestFoodTypes">{{category}}</li>
        </ul>
    </div>
</div>
