::ng-deep {
  .pac-container {
    background-color: #E7E7E7;
    box-shadow: none;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 20px;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #E7E7E7;
      z-index: 999;
    }
  }

  .pac-item-query {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }

  .pac-icon {
    display: none;
  }

  .pac-item {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;

    &:hover {
      background-color: darken(#E7E7E7, 5%);
      cursor: pointer;
    }

    & > * {
      flex: 1 1 100%;
    }

    & > *:last-child {
      font-size: 10px;
      line-height: 1;
      font-family: 'Poppins', sans-serif;
      color: #939393;
      font-weight: 400;
      margin: 0;
      margin-top: 5px;
    }
  }
}

form {
  min-height: 60px;
  height: 60px;
  position: relative;
  @media (max-width: 991px) {
    height: auto;
  }

  input {
    width: 100%;
    border: none;
    background-color: #E7E7E7;
    height: 60px;
    padding: 15px 40px 15px 15px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;

    &::-webkit-input-placeholder,
    &:-ms-input-placeholder,
    &::placeholder {
      color: #C5C5C5;
    }

    &:focus,
    &:active {
      outline: none;
      border: none;
    }
  }


  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    font-size: 14px;
  }

  .results {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    background-color: #E7E7E7;
    z-index: 444;
    padding: 30px 40px;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease all;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #C5C5C5;
    @media (max-width: 544px) {
      flex-wrap: wrap;
    }

    ul li:hover {
      cursor: pointer;
    }

    .locations {
      flex: 1 1 35%;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        height: 122px;
        width: 1px;
        background-color: #BABABA;
        opacity: 0.5;
        @media (min-width: 991px) and(max-width: 1800px) {
          display: none;
        }
        @media (max-width: 544px) {
          display: none;
        }
      }

      ul {
        li {
          span {
            display: block;

            &.city {
              font-size: 16px;
              line-height: 22px;
              color: #000;
              font-weight: 400;
              text-transform: capitalize;
            }

            &.country {
              font-size: 10px;
              line-height: 15px;
              font-weight: 400;
              text-transform: capitalize;
              color: #939393;
            }
          }

          & + li {
            margin-top: 15px;
          }
        }
      }
    }

    .popular {
      flex: 1 1 65%;
      @media (max-width: 544px) {
        display: none;
      }

      h6 {
        margin-top: 0;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 600;
        margin-bottom: 20px;
      }

      ul {
        li {
          font-size: 16px;
          line-height: 22px;
          text-transform: capitalize;

          & + li {
            margin-top: 7px;
          }
        }
      }
    }

    &.open {
      top: 60px;
      opacity: 1;
      visibility: visible;
    }
  }

  .location {
    position: relative;
    @media (max-width: 544px) {
      flex-wrap: wrap;
    }

    &.open {
      .arrow {
        transform: translateY(-50%) rotate(0deg);
      }
    }

    .arrow {
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      transition: .3s ease all;
      @media (max-width: 544px) {
        right: 10px;
      }
    }
  }

  button {
    background-color: #000000;
    color: #F8F8F8;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 60px;
    border: none;
    display: inline-block;
    padding: 0 70px;
    transition: .3s ease all;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(calc(100% - 1px));
    z-index: 100;

    &[disabled] {
      background-color: lighten(#000000, 30%);
      pointer-events: none;
      &:hover {
        background-color: lighten(#000000, 30%);
        color: #F8F8F8;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: #F8F8F8;
      color: #000000;
    }

    @media (max-width: 991px) {
      margin-top: 15px;
      display: inline-block;
      right: auto;
      position: relative;
      top: auto;
      width: 100%;

      &:hover {
        background-color: lighten(#000, 40%);
        color: #fff;
      }
    }

    &:focus,
    &:active {
      outline: none;
      border: none;
    }
  }
}
