<form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
    <div class="location" [ngClass]="{open: isFormOpen}">
        <input ngx-google-places-autocomplete
               (onAddressChange)="onCountryChanged($event)"
               [options]=options/>
        <svg width="14" class="arrow" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 1.22392e-06L13.0622 6.75L0.937821 6.75L7 1.22392e-06Z" fill="#454545"/>
        </svg>
    </div>

    <div class="results" [ngClass]="{open: isFormOpen}">
        <div class="locations">
            <ul *ngIf="locationsToView.length !== 0; else notFound">
                <li *ngFor="let location of locationsToView" (click)="handleLocationChoose(location)">
                    <span class="city">{{location.city}}</span>
                    <span class="country">{{location.country}}</span>
                </li>
            </ul>
            <ng-template #notFound>
                <div>Not found.</div>
            </ng-template>
        </div>
        <div class="popular">
            <h6>Popular Locations</h6>
            <ul>
                <li *ngFor="let pLocation of popularLocations"
                    (click)="handlePopularLocationChoose(pLocation)">{{pLocation}}</li>
            </ul>
        </div>
    </div>
    <button type="submit" [disabled]="currentLocation === undefined">Search</button>
</form>
