<div class="sidebar">
  <h5>Offer Type</h5>
  <div class="filter-flex two-in-one">
    <label for="two-in-one" class="label">Has offers</label>
    <input type="checkbox" id="two-in-one" (change)="filterByOffers($event)" name="two-in-one">
  </div>
  <div class="filter percent slider">
    <label class="label">Percentage</label>
    <ng5-slider
      class="percent-slider  percent-symbol"
      [(value)]="percent"
      [options]="percentOptions">
    </ng5-slider>
  </div>
  <div class="filter discount slider">
    <label class="label">Discount</label>
    <ng5-slider
      class="discount-slider pound-symbol"
      [(value)]="discount"
      [options]="discountOptions">
    </ng5-slider>
  </div>
  <div class="filter price hidden">
    <div class="filter-flex">
      <h6>Price</h6>
      <span class="icon-btn"
            (click)="isContentOpen('price')">{{isContainsItem('price') ? iconOpen : iconClose}}</span>
    </div>
    <form [formGroup]="priceForm" class="filter-content" [ngClass]="{open: isContainsItem('price')}">
      <div *ngFor="let price of priceTypes">
        <label [for]="price.priceType.toLowerCase()" class="label">{{price.priceType}}</label>
        <input type="checkbox" (change)="filterByPrice($event)" [id]="price.priceType.toLowerCase()"
               [value]="price.id" [name]="price.priceType">
      </div>
    </form>
  </div>
  <div class="filter type hidden">
    <div class="filter-flex">
      <h6>Type</h6>
      <span class="icon-btn"
            (click)="isContentOpen('type')">{{isContainsItem('type') ? iconOpen : iconClose}}</span>
    </div>
    <div class="filter-content" [ngClass]="{open: isContainsItem('type')}">
      <div>
        <label for="eat-in" class="label">Eat-in</label>
        <input type="checkbox" id="eat-in" name="eat-in">
      </div>
      <div>
        <label for="takeway" class="label">Takeway</label>
        <input type="checkbox" id="takeway" name="takeway">
      </div>
      <div>
        <label for="delivery" class="label">Delivery</label>
        <input type="checkbox" id="delivery" name="delivery">
      </div>
    </div>
  </div>
  <div class="filter payment hidden">
    <div class="filter-flex">
      <h6>Payment</h6>
      <span class="icon-btn"
            (click)="isContentOpen('payment')">{{isContainsItem('payment') ? iconOpen : iconClose}}</span>
    </div>
    <form [formGroup]="paymentForm" class="filter-content" [ngClass]="{open: isContainsItem('payment')}">
      <div *ngFor="let payment of paymentTypes">
        <label [for]="payment.type.toLowerCase()" class="label">{{payment.type}}</label>
        <input type="checkbox" (change)="filterByPayment($event)" [id]="payment.type.toLowerCase()"
               [value]="payment.type" [name]="payment.type">
      </div>
    </form>
  </div>

  <div class="filter distance hidden">
    <div class="filter-flex">
      <h6>Time</h6>
      <span class="icon-btn"
            (click)="isContentOpen('distance')">{{isContainsItem('distance') ? iconOpen : iconClose}}</span>
    </div>
    <div class="filter-content" [ngClass]="{open: isContainsItem('distance')}">
      <div>
        <label class="label">Delivery</label>
        <ng5-slider
          class="delivery-slider min-symbol"
          [(value)]="delivery"
          [options]="deliveryOptions">
        </ng5-slider>
      </div>
      <div>
        <label class="label">Walk</label>
        <ng5-slider
          class="walk-slider min-symbol"
          [(value)]="walk"
          [options]="walkOptions"
          (userChangeEnd)="filterByWalkTime($event)"
        >
        </ng5-slider>
      </div>
      <div>
        <label class="label">Drive</label>
        <ng5-slider
          class="drive-slider min-symbol"
          [(value)]="drive"
          [options]="driveOptions"
          (userChangeEnd)="filterByDriveTime($event)"
        >
        </ng5-slider>
      </div>
    </div>
  </div>
</div>
