:host {
  body {
    overflow: visible;
  }
}

.sidebar {
  max-width: 364px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 20px;


  h5 {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 45px;
  }

  .hidden {
    border-bottom: 1px solid #BABABA;
    padding-bottom: 15px;
  }

  .filter.slider {
    position: relative;

    .label {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      position: absolute;
      top: 4px;
      left: 0;
    }
  }

  .icon-btn,
  h6 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.02em;
  }


  > div + div {
    margin-top: 15px;
  }

  .percent-slider {
    flex: 1 1 100%;
  }

  .filter-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .distance .filter-content > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
    position: relative;

    .label {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      position: absolute;
      top: 4px;
      left: 0;
    }
  }

  .payment .filter-content > div,
  .type .filter-content > div,
  .price .filter-content > div
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .filter-content {
    opacity: 0;
    transition: .3s ease-out all;
    height: 0;

    &.open {
      height: auto;
      opacity: 1;
    }
  }

  .icon-btn {
    position: relative;
    z-index: 10;

    &:hover {
      cursor: pointer;
    }
  }

  @media only screen and (min-width: 576px)  {
    max-width: 100%;
  }


  @media only screen and (min-width: 992px) {
    max-width: 400px;
    margin-left: 0;
    margin-right: 0;
  }

  @media only screen and (min-width: 1200px)  {
    padding: 50px;
  }

}

::ng-deep {
  .sidebar .ng5-slider {
    position: relative;
  }

  .sidebar .ng5-slider {
    margin-top: 45px;
  }

  .sidebar .ng5-slider .ng5-slider-bar {
    background: #D4E5DD;
    height: 4px;
  }

  .sidebar .ng5-slider-floor {
    display: none;
  }

  .sidebar .ng5-slider .ng5-slider-selection {
    background: #B5D2C4;
  }


  .sidebar .percent-symbol {
    .ng5-slider-model-value {
      &::after {
        content: '%';
      }
    }
  }

  .sidebar .min-symbol {
    .ng5-slider-model-value {
      &::after {
        content: 'min';
      }
    }
  }

  .sidebar .pound-symbol {
    .ng5-slider-model-value {
      &::after {
        content: '£';
      }
    }
  }

  .sidebar {
    .ng5-slider {
      &.price-slider {
        .ng5-slider-limit {
          font-size: 14px !important;
          line-height: 21px !important;
          color: #000 !important;
        }

        .ng5-slider-combined {
          font-size: 14px !important;
          line-height: 21px !important;
          color: #000 !important;
        }

        .ng5-slider-model-value,
        .ng5-slider-model-high {
          font-size: 14px !important;
          font-weight: 400 !important;
          line-height: 21px !important;
          color: #000 !important;

          //&::after {
          //  content: '$';
          //}
        }
      }

      &:not(.price-slider) {
        .ng5-slider-model-value {
          left: auto !important;
          right: 0 !important;
          bottom: 21px !important;
          position: absolute !important;
          font-weight: normal !important;
          font-size: 14px !important;
          line-height: 21px !important;
          color: #000 !important;
        }

        .ng5-slider-limit {
          display: none !important;
        }
      }
    }
  }

  .sidebar .ng5-slider .ng5-slider-pointer {
    width: 8px;
    height: 8px;
    top: -2px;
    bottom: 0;
    background-color: #B5D2C4;
    border-radius: 50%;
  }

  .sidebar .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .sidebar .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
  }

  .sidebar .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color: #D4E5DD;
  }

  .sidebar .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .sidebar .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: #B5D2C4;
  }
}
