::ng-deep {
  .nsm-dialog {
    min-width: 950px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nsm-content {
    background-color: #F8F8F8;
    padding: 60px;
  }

  .nsm-dialog-btn-close {
    top: 60px;
    right: 70px;
  }
}

h2 {
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
