<ngx-smart-modal [autostart]="false" #menu identifier="menu">
    <div class="container">
        <div class="top-wrap"><h2>{{restName}}</h2></div>
        <div class="row" *ngIf="menuData?.length > 0;else noMenu">
            <div class="col-md-3">
                <app-menu-sidebar [menu]="menuData"
                                  (onCategoryMenuChanged)="categoryChanged($event)"></app-menu-sidebar>
            </div>
            <div class="col-md-9">
                <app-menu-item [menu]="menuData" [currentCategoryId]="currentCategoryId"></app-menu-item>
            </div>
        </div>
        <ng-template #noMenu>
            <h3>No menu</h3>
        </ng-template>
    </div>
</ngx-smart-modal>
