::ng-deep {
  .pac-container {
    background-color: #E7E7E7;
    box-shadow: none;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 20px;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #E7E7E7;
      z-index: 999;
    }
  }

  .pac-item-query {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }

  .pac-icon {
    display: none;
  }

  .pac-item {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;

    &:hover {
      background-color: darken(#E7E7E7, 5%);
      cursor: pointer;
    }

    & > * {
      flex: 1 1 100%;
    }

    & > *:last-child {
      font-size: 10px;
      line-height: 1;
      font-family: 'Poppins', sans-serif;
      color: #939393;
      font-weight: 400;
      margin: 0;
      margin-top: 5px;
    }
  }
}

input {
  width: 100%;
  border: none;
  background-color: #E7E7E7;
  height: 43px;
  padding: 15px 35px 15px 15px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  max-width: 400px;


  &::-webkit-input-placeholder,
  &:-ms-input-placeholder,
  &::placeholder {
    color: #C5C5C5;
  }

  &:focus,
  &:active {
    outline: none;
    border: none;
  }
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  font-size: 14px;
}

.location {
  position: relative;
  max-width: 400px;
  margin: 0 auto;

  .arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    transition: .3s ease all;
    @media (max-width: 544px) {
      right: 10px;
    }
  }
}
