<div class="location">
    <input ngx-google-places-autocomplete
           (onAddressChange)="onCountryChanged($event)"
           [options]=options />
    <svg width="14" class="arrow" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7 1.22392e-06L13.0622 6.75L0.937821 6.75L7 1.22392e-06Z" fill="#454545"/>
    </svg>
</div>
