<owl-carousel-o class="categories-carousel" [options]="customOptions">
    <ng-container *ngFor="let category of categoriesArray">
        <ng-template carouselSlide>
            <div class="category-item" (click)="selectCategory($event, category.id)">
                <img [src]="category.img" [alt]="category.title">
                <h6 class="category-item-title">{{category.title}}</h6>
            </div>  
        </ng-template>
    </ng-container>
</owl-carousel-o>
