:host {
  display: block;
  max-width: 364px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.category-item {
  text-align: center;
  cursor: pointer;
  position: relative;
  opacity: 0.5;

  &:after {
    content: '';
    transition: 0.33s all ease-in-out;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 67px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='67' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M58.8935 2.9642c1.9034 1.05642 3.454 2.42262 4.5334 4.14103.1954.31107.3537.6215.4755.93091C65.0856 7.49228 65.8772 6.65615 66.2023 6c.1771-.35753.2182-.8878.1595-1.15522-.0571-.26024-.2281-.52245-.5931-.77586-.7598-.52753-2.0812-.9687-4.8307-1.16367-.469-.03326-1.5282.08152-2.0445.05895zm-2.0486-.05895c2.5065 1.07232 4.4795 2.58232 5.7388 4.58703.242.38535.4148.76227.5243 1.1311-.9378.65478-1.9795 1.26219-2.9426 1.75732-.2265.1165-.2997.3678-.1635.5614.1362.1936.4303.2562.6568.1398.8405-.4321 1.7437-.9493 2.5959-1.51309.0012.09975-.0022.19889-.01.29742-.06.75627-.3831 1.50287-.9549 2.23947-1.1519 1.4838-2.8413 3.1069-5.7022 4.3943-5.7111 2.57-14.4019 4.6947-22.8602 5.8637-8.458 1.1689-17.0665 1.1597-22.8838.442-2.92554-.3609-5.09755-.9787-6.28827-1.8278-.58265-.4155-.90753-.8698-.9992-1.3645-.09238-.4986.04107-1.098.51023-1.818 1.95286-2.997 5.55274-5.4936 10.13124-7.5346 4.5726-2.03832 10.0784-3.60303 15.7816-4.75521 9.6512-1.94977 19.8117-2.70728 26.8658-2.60034zm-2.3079-.82304c-6.9445.06916-16.0704.86798-24.778 2.62713-5.7504 1.16171-11.3381 2.74604-16.004 4.82599C9.09494 11.6126 5.3112 14.2035 3.23008 17.3973c-.53934.8277-.75481 1.6132-.61941 2.3441.13612.7346.61573 1.3544 1.3314 1.8647 1.40593 1.0027 3.80591 1.6444 6.76473 2.0094 5.9515.7342 14.5141.3873 23.0205-.7883 8.506-1.1756 17.0186-3.1884 22.8602-5.817 2.9154-1.3119 5.217-2.7998 6.4997-4.4521.6455-.8314 1.0391-1.7127 1.1123-2.63654.0259-.32557.0116-.6532-.0436-.98244.0242-.01788.0482-.03579.0722-.05373 1.0958-.81972 2.0561-1.73324 2.5027-2.6346.2263-.45667.333-.93501.2296-1.40601-.105-.47817-.4166-.90336-.9304-1.26008-.9979-.69276-2.7956-1.15473-5.5784-1.35206-1.0192-.07227-2.1507-.12011-3.3758-.14187C55.275 1.34401 53.2422.81445 51.0516.475539c-5.5278-.855202-12.1305-.510202-18.7582.660851-6.6318 1.17178-13.3177 3.17575-19.0207 5.65996C7.57897 9.27653 2.82276 12.2537.094531 15.3908c-.157687.1814-.113565.4376.098551.5724.212115.1348.5119.0971.669588-.0842 2.60239-2.9924 6.77621-6.06127 12.41003-8.51536C18.8973 4.91359 25.8326 2.65744 32.3833 1.5 38.9381.341839 45.5136.450226 50.8812 1.28064c1.2905.19966 2.5132.46556 3.6558.80157z' fill='%23B5D2C4'/%3E%3C/svg%3E");
    opacity: 0;
  }
  &.selected {
    opacity: 1;
    &:after {
      opacity: 1;
    }
  }

  img {
    max-width: 71px;
    margin-left: auto;
    margin-right: auto;
  }

  &-title {
    margin: 0;
  }
}

* + .category-item-title {
  margin-top: 9px;
}

@media only screen and (min-width: 576px)  {
  :host {
    max-width: 100%;
  }
}
