:host {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  @media (min-width: 768px)  {
    padding: 30px 0 30px;
  }
}

h6 {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  color: #fff;
  @media (min-width: 1200px) {
    color: inherit;
  }
}

.brand-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  img { filter: brightness(0) invert(1); }

  li {

    & + li { margin-left: 15px; }

    &:last-of-type {
      display: none;
    }
  }

  p {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
  }

  img { max-width: 100%; }

  @media (min-width: 992px) {
    margin-left: -15px;
    margin-right: 0;
    justify-content: flex-start;
    max-width: 410px;
    padding-right: 15px;

    p { color: inherit }

    li:last-of-type {
      display: block;
      white-space: nowrap;
    }
    img {
      filter: none;
      opacity: .6;
    }
  }

  @media (min-width: 1200px) {
    max-width: 550px;
  }

  @media (min-width: 1451px) {
    justify-content: space-between;
    li {
      & + li { margin-left: 0; }
    }
  }

}

.container-fluid {
  @media (max-width: 991px) {
    width: auto;
    .row {
      margin-right: 0;
      margin-left: 0;
    }
    .row > div {
      flex: 0 0 100%;
      margin-left: 0;
      max-width: 100%;
    }
  }
}
