<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 offset-md-1 text-center text-lg-left">
            <h6>best discounts & deals from your favorites:</h6>
            <ul class="brand-list simple">
                <li>
                    <img src="assets/logos/logo-ae-01.png" alt="">
                </li>
                <li>
                    <img src="assets/logos/logo-ae-02.png" alt="">
                </li>
                <li>
                    <img src="assets/logos/logo-ae-03.png" alt="">
                </li>
                <li>
                    <img src="assets/logos/logo-ae-04.png" alt="">
                </li>
                <li><p>AND OTHER</p></li>
            </ul>
        </div>
    </div>
</div>
