<div class="form-search-wrapper mt-38">
    <h3>{{!isMyBest ? 'Restaurants' : 'My Best'}}</h3>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" action="" class="form-inline form-inline-search">
        <div class="form-wrap">
            <input formControlName="searchInput" class="form-input" type="text" placeholder="Search by name">
        </div>
        <div class="form-button">
            <button type="submit" class="button button-dark button-sm">
                <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M13 7.5a5.5 5.5 0 11-11 0 5.5 5.5 0 0111 0zm-.95 5.963a7.5 7.5 0 111.414-1.414l2.243 2.244-1.414 1.414-2.244-2.244z"/>
                </svg>
            </button>
        </div>
    </form>
</div>
