.form-search-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  max-width: 364px;
  margin-left: auto;
  margin-right: auto;
  h3 { margin-top: 24px;}
}

@media only screen and (min-width: 576px) {
  .form-search-wrapper {
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    h3 { margin-top: 0;}
  }
}
