<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 offset-md-1 flex">
            <a routerLink="/" class="logo"><img src="assets/logo.svg" alt=""></a>
            <a routerLink="/" class="invert-logo"><img src="assets/invert-logo.svg" alt=""></a>
            <ul class="flag-list">
                <li *ngFor="let flag of flags" [ngClass]="{active: isActive(flag) }"
                    (click)="select(flag)">
                    <img [src]="flag.url" alt="">
                </li>
            </ul>
        </div>
    </div>
</div>
