:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 0;
  z-index: 1;

  @media (max-width: 991px) {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .logo {
    display: none;
  }
  .invert-logo {
    display: block;
  }
}

@media (min-width: 991px) {
  .logo {
    display: block;
  }
  .invert-logo {
    display: none;
  }
}


a {
  display: inline-block;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media (max-width: 991px) {
    padding: 30px 0;
    justify-content: space-between;
  }
}

ul {
  display: flex;
  padding-left: 30px;

  li {

    &:not(.active) {
      img {
        filter: grayscale(100%);
        opacity: 0.5;
      }
    }

    &.active {
      img {
        filter: grayscale(0%);
      }
    }

    &:hover {
      cursor: pointer;
    }

    & + li {
      margin-left: 10px;
    }
  }
}

.container-fluid {
  @media (max-width: 991px) {
    width: auto;
    .row{
      margin-right: 0;
      margin-left: 0;
    }
    .row > div {
      flex: 0 0 100%;
      margin-left: 0;
      max-width: 100%;
    }
  }
}
