.vendors {
  position: absolute;
  bottom: 30px;
  right: 0;
  z-index: 2;
  width: 100%;
  max-width: 510px;
  display: none;
  @media only screen and (min-width: 992px)  {
    display: block;
    max-width: 400px;
  }

  @media only screen and (min-width: 1200px) {
    max-width: 510px;
  }

  @media only screen and (min-width: 1300px) {
    max-width: 570px;
  }

}



