<owl-carousel-o class="vendors" [options]="customOptions">
    <ng-container *ngFor="let vendor of topRestaurants">
        <ng-template carouselSlide>
            <app-vendor-card [vendor]="vendor"></app-vendor-card>
        </ng-template>
    </ng-container>
</owl-carousel-o>

