h5 {
  font-weight: 600;
  font-size: 21px;
  letter-spacing: 0.02em;
  margin-bottom: 15px;
}

.menu {
  li {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    padding: 10px 0;
    border-top: 1px solid #E4E4E4;
    text-transform: capitalize;

    &:last-child {
      border-bottom: 1px solid #E4E4E4;
    }
  }
}
