@import "app/styles/variables";
@import url('//fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "~ngx-smart-modal/ngx-smart-modal";

body {
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  overflow-x: hidden;
}

button {
  background: none;
  border: 0;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

html, body {
  height: 100%;
}

* { box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

section {
  display: block;
}

h2 {
  font-weight: 600;
  font-size: 45px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-transform: none;
  margin: 0;
  .big {
    font-size: 1.0857em;
    line-height: 1.176em;
  }
}

h3 {
  margin: 0;
  letter-spacing: 0.02em;
  @media (min-width: 992px) {
    font-size: 36px;
    line-height: 1.176em;
  }
}

h4 {
  font-size: 21px;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h2 + p {
  margin-top: 15px;
}

@media only screen and (min-width: 992px)  {

  h2 {
    font-size: 70px;
  }

  h2 + p {
    margin-top: 25px;
  }
}

a {
  text-decoration: none;
  color: $dark;
  transition: 0.33s all ease-in-out;
  &:hover, &:active, &:focus {
    color: $gray-light;
  }
}

.row {
  box-sizing: border-box;
}


// List styles
.list-inline {
  & > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.list-divided {
  line-height: 1em;
  li {
    position: relative;
    font-size: 10px;
    line-height: 1em;
    color: #B3B3B3;
    & + li {
      &:before{
        content: '';
        display: inline-block;
        width: 2px;
        height: 2px;
        vertical-align: middle;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #B3B3B3;
      }
    }
  }
}

// Text styles
.text-gray-light {
  color: $gray-light;
}

.ls-md {
  letter-spacing: 0.02em;
}

// Decor elements

.decor-element-wrapper {
  position: relative;
  z-index: 0;
}

.decor-element {
  position: absolute;
  &-1 {
    z-index: -1;
    right: 0;
    top: 0;
  }

  @media only screen and (min-width: 992px)  {
    &-1 {
      right: -24px;
    }
  }

}

//Blocks
.block-md {
  max-width: 365px;
}

.block-lg {
  max-width: 624px;
}

.m-l-auto-lg {
  @media (min-width: 992px) {
    margin-left: auto;
    margin-right: -60px;
  }
}



// Owl styles

.slider {
  .owl-theme {
    @media (max-width: 991px) {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(#000, .44);
        z-index: 1;
      }
    }
    @media (max-width: 544px) {
      height: 100vh;
    }
  }

  .owl-item {
    height: 100vh;
    img {
      height: 100%;
      object-fit: cover;
      @media (max-width: 544px) {
        width: 150%;
      }
    }
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    position: absolute;
    top: 20px;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .owl-dots {
    @media (max-width: 991px) {
      display: none;
    }

    .owl-dot {
      &:hover,
      &.active {
        span {
          height: 8px;
          width: 8px;
          opacity: 1;
          background-color: #F8F8F8;
          border-radius: 50%;
        }
      }

      span {
        height: 6px;
        width: 6px;
        background-color: #F8F8F8;
        opacity: 0.3;
        border-radius: 50%;
        transition: .3s ease all;
      }
    }
  }
}

.vendors .owl-nav {
  position: absolute;
  bottom: -5px;
  left: -70px;

  .owl-next,
  .owl-prev {
    font-size: 0;
    position: relative;
    height: 20px;
    width: 20px;
    display: inline-block;
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }

    &::before {
      content: '';
      height: 20px;
      width: 20px;
      display: inline-block;
      background-image: url(assets/right-arrow.svg);
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .owl-prev::before {
    transform: rotate(180deg);
  }
}

.categories-carousel {
  .owl-carousel {
    &.owl-theme {
      .owl-nav {
        display: none;
        [class*=owl-] {
          background: transparent;
          margin: 0;
          padding: 0;
        }
        @media only screen and (min-width: 576px)  {
          display: flex;
          margin-top: 12px;
          justify-content: space-between;
        }

      }
    }

    .owl-stage {
      display: flex;
      align-items: flex-end;
      @media only screen and (min-width: 576px)  {
        //padding-left: 50px;
        //padding-right: 40px;
      }

    }

    .owl-item {
      position: relative;
      img {
        width: auto;
        margin-left: auto;
        margin-right: auto;
      }
    }



  }
}


ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  transition: .3s ease all;

  &:hover {
    cursor: pointer;
  }
}

// Sections

.section-xs {
  padding-top: 47px;
  padding-bottom: 47px;
}

.section-sm {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section-md {
  padding-top: 37px;
  padding-bottom: 100px;
  @media only screen and (min-width: 992px)  {
    padding-top: 68px;
    padding-bottom: 190px;
  }
}

.section-lg {
  padding-top: 178px;
  padding-bottom: 178px;
}

.section-top-xs {
  padding-top: 66px;
}

.section-bottom-sm {
  padding-bottom: 44px;
}

// Backgrounds
.bg-decor {
  background: $decor;
}

// Button Styles

.button {
  cursor: pointer;
  transition: 0.33s all ease-in-out;
}

.button-sm {
  padding: 11px 14px;
}

.button-lg {
  padding: 16px 58px;
  font-size: 18px;
  line-height: 1em;
}

.button-dark {
  background-color: $dark;
  border-color: $dark;
  color: $white-lighter;
  svg {
    transition: 0.33s all ease-in-out;
    fill: #fff;
  }
  &:hover, &:focus, &:active {
    background-color: $white-lighter;
    border-color: $white-lighter;
    color: $dark;
    svg {  fill: $dark };
  }
}


.button-icon {
  outline: none;
  & > * {
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
  }
  &-text {
  }
  span + span {
    margin-left: 5px;
  }
}

@media only screen and (min-width: 992px)  {
  .button-lg {
    padding: 21px 58px;
  }
}


// Forms
.form-inline {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  text-align: center;
  margin-bottom: -15px;

  & > * {
    margin-bottom: 15px;
  }

  &-1 {
    flex-direction: column;
    .form-wrap {
      flex-grow: 1;
    }

    .form-button {
      flex-grow: 1;
      button {
        width: 100%;
      }
    }
  }


}



.form-inline-search {
  .form-input {
    background: $gray-lighter;
    min-height: 44px;
    font-size: 14px;
    &::placeholder {
      color: $gray-1;
      font-size: inherit;
      font-family: $font-family-base;
    }
  }

  .form-wrap {
    flex-grow: 1;
  }

  @media only screen and (min-width: 576px)  {
    .form-wrap {
      flex-grow: unset;
    }
  }

}


.form-input {
  display: block;
  width: 100%;
  padding: 11px 19px;
  background: $gray-lighter;
  border: 0;
  min-height: 50px;
  &::placeholder {
    color: $gray-lightest;
    font-size: 14px;
    opacity: 1;
  }
}

* + .mt-31 { margin-top: 31px; }

* + .form-inline-1 {
  margin-top: 15px;
}

@media only screen and (min-width: 992px)  {

  .form-inline-search {
    .form-input {
      min-width: 220px;
    }
  }

  .form-inline {
    &-1 {
      flex-direction: row;
    }
  }

  .form-input {
    min-height: 60px;
  }

  * + .form-inline-1 {
    margin-top: 32px;
  }
}

@media only screen and (min-width: 1200px)  {
  .form-inline {
    &-1 {
      .form-wrap {
        max-width: 340px;
      }

      .form-button {
        flex-grow: unset;
        button {
          width: auto;
        }
      }
    }
  }


  .form-inline-search {
    .form-input {
      min-width: 316px;
    }
  }

}


// Grid styles

.container-layout {
  padding-right: 25px;
  padding-left: 25px;
}

.row-24 {
  margin-bottom: -24px;
  & > [class*="col-"] {
    margin-bottom: 24px;
  }
}

.row-40 {
  margin-bottom: -40px;
  & > [class*="col-"] {
    margin-bottom: 40px;
  }
}

.row-layout {
  margin-right: -13px;
  margin-left: -13px;
  & > [class*="col-"] {
    padding-right: 13px;
    padding-left: 13px;
  }
}

.row + .row { margin-top: 35px; }

@media only screen and (min-width: 992px)  {
  .container-layout {
    padding-right: 60px;
    padding-left: 60px;
  }

  .row-layout {
    margin-right: -30px;
    margin-left: -30px;
    & > [class*="col-"] {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  .row + .row { margin-top: 70px; }

}



input[type^="checkbox"] {
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #BABABA;
  padding: 9px;
  display: inline-block;
  position: relative;
  margin: 0;

  &:focus {
    outline: none;
  }

  &:active, &:checked:active {
    outline: none;
    background-color: #000;
  }

  &:checked {
    outline: none;
    background-color: #000;
    border: 1px solid #adb8c0;
  }

  &:checked:after {
    outline: none;
    content: '';
    position: absolute;
    width: 15px;
    height: 11px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-image: url(assets/chack.svg);
  }
}

.media-wrapper {
  max-width: 364px;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (min-width: 576px)  {
    max-width: 100%;
  }

}
