<div class="container-fluid container-layout text-lg-left text-center">
  <div class="row row-24 row-layout justify-content-center justify-content-lg-between align-items-lg-center">
    <div class="col-sm-10 col-md-8 col-lg-3 col-xl-3">
      <a routerLink="/" class="logo d-inline-block"><img src="assets/logo.svg" alt=""></a>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 text-center">
      <ul class="list-inline list-footer-menu">
        <li>
          <a href="#">Terms & Condition</a>
        </li>
        <li>
          <a href="#">Privacy</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-4 col-xl-4 text-lg-right">
      <p class="copyright">Copyright 2020 FillUp. | All rights reserved.</p>
    </div>
  </div>
</div>
