@import "~src/app/styles/variables";

:host {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  @media only screen and (min-width: 992px)  {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.copyright {
  color: $gray-2;
  font-size: 12px;
  margin: 0;
}

.list-footer-menu {
  margin-left: -19px;
  margin-right: -19px;
  margin-bottom: -12px;
  font-size: 14px;
  text-transform: uppercase;
  > li {
    margin-left: 19px;
    margin-right: 19px;
    margin-bottom: 12px;
    display: block;
  }
  @media only screen and (min-width: 576px)  {
    > li { display: inline-block }
  }

}
